name: Build Pango

on:
  release:
    types: [created]

jobs:
  build_bin:
    name: Build Pango Windows for Manim
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: MINGW64
            arch: x86_64
            pythonarch: x64
          - msystem: MINGW32
            arch: i686
            pythonarch: x86
    steps:
      - uses: msys2/setup-msys2@v2
        name: Setup Msys
        with:
          msystem: ${{ matrix.msystem }}
          install: mingw-w64-${{ matrix.arch }}-pango
      - uses: actions/checkout@v2
        with:
          repository: naveen521kk/manim
          ref: 'pango-text'
      - shell: msys2 {0}
        env:
          MSYSTEM: ${{ matrix.msystem }}
        run: |
          mkdir pango
          cp /${MSYSTEM}/bin/*.dll "pango"
          dir pango
          dir "/${MSYSTEM}"
          cmd.exe /C "echo %cd%"

      - uses: actions/upload-artifact@v2
        with:
         name: pango.${{ matrix.msystem }}
         path: pango
 
      - name: Set up Python
        if: ${{ matrix.msystem }} == MINGW64
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: ${{ matrix.pythonarch }}


      - name: Get pip cache dir
        shell: bash
        id: pip-cache-and-time
        run: |
           echo "::set-output name=dir::$(pip cache dir)"
           echo "::set-output name=date::$(/bin/date -u "+%m%Y")"
      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache-and-time.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-${{ matrix.python }}-${{ steps.pip-cache-and-time.outputs.date }}
      - name: Cache Windows
        id: cache-windows
        if: runner.os == 'Windows'
        uses: actions/cache@v2
        with:
         path: ${{ github.workspace }}\ManimCache
         key: ${{ runner.os }}-dependencies-ffmpeg-sox-tinytex-${{ hashFiles('.github/manimdependency.json') }}-${{ steps.pip-cache-and-time.outputs.date }}

      - name: Install Manim
        if: runner.os == 'Windows' && steps.cache-windows.outputs.cache-hit != 'true'
        run: |
          $soxVersion = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['sox'])"
          $soxVersionNumber = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['sox'].split('-')[1])"
          $ffmpegVersion = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['ffmpeg'])"
          $ffmpegVersionNumber = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['ffmpeg'].split('-')[1])"
          $OriPath = $env:PATH
          echo "Install Tinytex"
          Invoke-WebRequest "https://ci.appveyor.com/api/projects/yihui/tinytex/artifacts/TinyTeX.zip?job=image:%20Visual%20Studio%202019" -O "$($env:TMP)\TinyTex.zip"
          Expand-Archive -LiteralPath "$($env:TMP)\TinyTex.zip" -DestinationPath "$($PWD)\ManimCache\LatexWindows"
          $env:Path = "$($PWD)\ManimCache\LatexWindows\TinyTeX\bin\win32;$($env:PATH)"
          tlmgr install standalone preview doublestroke ms setspace rsfs relsize ragged2e fundus-calligra microtype wasysym physics dvisvgm jknapltx wasy cm-super babel-english
          $env:PATH=$OriPath
          echo "Completed Latex Install Sox"
          Invoke-WebRequest "https://downloads.sourceforge.net/project/sox/sox/$($soxVersionNumber)/$($soxVersion).zip" -UserAgent "wget" -O "$($env:TMP)\SoX.zip"
          7z x "$($env:TMP)\SoX.zip" -o"$($PWD)\ManimCache"
          Move-Item "ManimCache\sox-*" "ManimCache\SoX"
          choco install --no-progress ffmpeg
          $env:Path += ";" + "$($PWD)\ManimCache\LatexWindows\TinyTeX\bin\win32"
          $env:Path += ";" + "$($PWD)\ManimCache\SoX"
          dir pango
          $env:Path += ";" + "$($PWD)\pango"
          echo "::set-env name=Path::$env:Path"
      - name: Add Windows dependecies to path
        if: runner.os == 'Windows' 
        run: |
          choco install --no-progress ffmpeg
          7z a "pango.zip" "$($PWD)\pango"
          $env:Path += ";" + "$($PWD)\ManimCache\FFmpeg\bin"
          $env:Path += ";" + "$($PWD)\ManimCache\LatexWindows\TinyTeX\bin\win32"
          $env:Path += ";" + "$($PWD)\ManimCache\SoX"
          $env:Path += ";" + "$($PWD)\pango\bin"
          $env:PATH = "$env:GITHUB_WORKSPACE\pango;$env:PATH"
          echo "::set-env name=Path::$env:Path"
      - name: Install Poetry and Manim Python Dependency
        shell: cmd
        env:
          POETRY_VIRTUALENVS_CREATE: $false
        run: |
          where libcairo*
          where sox
          where latex
          pip install poetry
          poetry install
          poetry run pytest
          
      - name: Test Pango
        env:
          POETRY_VIRTUALENVS_CREATE: $false
        run: |
          Invoke-WebRequest https://raw.githubusercontent.com/naveen521kk/manim/pango-text/example_scenes/pangoText.py -O testpan.py
          manim testpan.py
      - uses: actions/upload-artifact@v2
        with:
         name: media.${{ matrix.msystem }}
         path: media
      - name: Handle Release
        id: create_release
        shell: bash
        env:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          tag_act: ${{ github.ref }}
        run: |
          ref_tag=$(python -c "print('${tag_act}'.split('/')[-1])")
          res=$(curl -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${access_token}" https://api.github.com/repos/naveen521kk/manim-tex/releases/tags/${ref_tag})
          echo "${res}"
          upload_url=$(python -c "import json;print(json.loads('''${res}''')['upload_url'])")
          echo "::set-output name=upload_url::${upload_url}"
      - name: Upload Release Asset
        id: upload-release-asset-non-windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: pango.zip
          asset_name: pangi-windows-binaires-${{ matrix.pythonarch }}.zip
          asset_content_type: application/zip
          
          
